html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
    font-size:xx-large;
}

body {
    background-image: url('assets/pexels-luis-gomes-166706-546819.jpg');
    background-color: #232a49;
    background-size: calc(100%);
    background-position: center;
   }

#construction_banner {
  /* text-align: center; */
  /* display: none;
  visibility: hidden; */
  background-color: rgb(214, 214, 162);
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  font-weight: bold;
  font-size: 36px;
}

#main_body {
    margin: 1px auto;
    box-sizing: border-box;
    width: calc(100% - 10%);
}

#body_content_container {
  background-color: rgba(250, 235, 215, 0.11);
  min-height: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#body_content {
  background-color: rgba(250, 235, 215, 0.95);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.footer_section {
  min-height: 100px;
  background-color: hsla(0, 0%, 100%, 0.95);
  margin-top: 20px;
}

  @media screen and (max-width: 600px) {

    body {
        background-size: calc(400%);
    }
  }
  