html, body {
    /* height: 100%; */
    /* margin: 0; */
    /* padding: 0; */
    font-family: Arial, Helvetica, sans-serif
    font-size:xx-large;
}

body {
    background: url('assets/pexels-luis-gomes-166706-546819.jpg') no-repeat center center fixed; 
    background-color: #232a49;
    background-size: cover;
    /* background-size: calc(120%); */
    /* background-position: center; */
   }

#construction_banner {
  /* text-align: center; */
  /* display: none;
  visibility: hidden; */
  background-color: rgb(214, 214, 162);
  min-height: 20px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.construction_text {
  font-weight: 100;
  font-size: 24px;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#main {
    margin: 1px auto;
    box-sizing: border-box;
    width: calc(100% - 10%);
    /* min-height: 100%; */
}

/* Contains body_content */
#body_content_container {
  background-color: rgba(250, 235, 215, 0.11);
  min-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Contains the loaded page */
#body_content {
  background-color: rgba(250, 235, 215, 0.95);
  padding: 20px;
  margin: 20px;
}

/* #footer {
  /* margin-top: auto; */
  flex-shrink: 0;
  min-height: 100px;
  background-color: hsla(0, 0%, 100%, 0.95);
  /* margin-top: 20px; */
} */

  @media screen and (max-width: 600px) {

    body {
        background-size: calc(400%);
    }
  }
  